PORT=4000
DATABASE_URL=postgresql://worksafe_db_gx37_user:5if13WHvMyLcwv3OnFmcsUdsrddiiKkV@dpg-daoml48ae00c73c5fu5g-a.singapore-postgres.render.com/worksafe_db_gx37
JWT_SECRET=9f82b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2
OPENWEATHER_API_KEY=9c0d6acfec708b2ef5ffd03d69705e89